body {
  background-color: #36393f;
  font-family: "Whitney", sans-serif;
  color: #dcddde;
}

h1 {
  color: #8e9297;
  border-bottom: 1px solid #4f545c;
  padding-bottom: 10px;
}

h2 {
  color: #8e9297;
}

input {
  background-color: #40444b;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  margin: 5px;
  color: #dcddde;
}

button {
  background-color: #5865f2;
  border: none;
  padding: 10px 20px; /* Make the buttons bigger */
  font-size: 15px;
  margin: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #586eea;
}

p {
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #2f3136;
  margin: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  background-color: #40444b;
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #8e9297;
  text-decoration: none;
}
